{% extends "base.html" %}

{% load static %}
{% block content %}
    <!-- Contenido específico de la página de dashboard -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Desarrollo</h3>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="content">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="nuevoticket-tab" data-toggle="tab" href="#nuevoticket">Nuevo Ticker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vertickets-tab" data-toggle="tab" href="#vertickets">Tickets</a>
            </li>
        </ul>

        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="nuevoticket">
                <div class="card mb-3">
                    <div class="card-header bg-danger text-white">Detalles del Ticket</div>
                    <div class="card-body">
                        <form class="form-row">
                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label>Título del Proyecto</label>
                                    <input type="text" class="form-control" placeholder="Escriba el título del Proyecto">
                                    <small id="spanTitleProject" class="form-text">Este campo es obligatorio!</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vertickets">
                <h2>Contenido de la pestaña 2</h2>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script src="../static/dist/utils/desarrollo.js"></script>
    <link rel="stylesheet" href="../static/dist/css/desarrollo.css">

{% endblock %}








