{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Contenido específico de la página de dashboard -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Empresas</h3>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Sección de crear empresas -->
<div class="content">
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" id="nuevoticket-tab" data-toggle="tab" href="#nuevoticket">Nueva Empresa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vertickets-tab" data-toggle="tab" href="#vertickets">Empresas</a>
        </li>
    </ul>
    <div class="tab-content mt-2">
        <!-- Contenido de la pestaña Nuevo Ticket -->
        <div class="tab-pane fade show active" id="nuevoticket">
            <div class="card mb-3">
                <div class="card-header bg-danger text-white">Detalles de la Nueva Empresa</div>
                <div class="card-body">
                    <form class="form-row" method="post" action="{% url 'crear_empresa' %}">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <label for="nombreEmpresa">Nombre Empresa:</label>
                            <input class="form-control" id="nombreEmpresa" name="nombreEmpresa"
                                placeholder="Ingrese la Empresa"></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="direccion">Dirección Empresa:</label>
                            <input class="form-control" id="direccion" name="direccion"
                                placeholder="Ingrese la Dirección de la Empresa"></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono">Teléfono Empresa:</label>
                            <input class="form-control" id="telefono" name="telefono"
                                placeholder="Ingrese el Teléfono de la Empresa"></input>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Correo Empresa:</label>
                            <input class="form-control" id="email" name="email"
                                placeholder="Ingrese el Correo de la Empresa"></input>
                        </div>
                        <div class="form-group col-12">
                            <button type="submit" class="btn btn-dark">Crear Empresa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Sección de listado de empresas -->
        <div class="tab-pane fade" id="vertickets">
            <div class="row g-1">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="buscarSolicitanteEmpresa" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header bg-danger text-white">Detalles de la Empresa</div>
                <div class="card-body">
                    <div class="table-responsive" style="overflow-y: auto; max-height: 400px;">
                        <table class="table table-hover table-sm" id="tickets-table">
                            <thead>
                                <tr>
                                    <th>NumEmpresa</th>
                                    <th>Empresa</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Acciones</th>
                                    <!-- Otros encabezados según tus campos -->
                                </tr>
                            </thead>
                            <tbody id="tbodyEmpresas">
                                <!-- Aquí se llenarán las filas de la tabla -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Detalles de la Empresa -->
<div class="modal fade" id="detalleEmpresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles de la Empresa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editarEmpresaForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="modalNumEmpresa">Número de Empresa:</label>
                                <input type="number" class="form-control" id="modalNumEmpresa" readonly></input>
                            </div>
                            <div class="form-group">
                                <label for="nombreEmpresa">Nombre Empresa:</label>
                                <input type="text" class="form-control" id="editNombreEmpresa" name="editNombreEmpresa">
                            </div>
                            <div class="form-group">
                                <label for="direccion">Dirección Empresa:</label>
                                <input type="text" class="form-control" id="editDireccion" name="editDireccion">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono Empresa:</label>
                                <input type="text" class="form-control" id="editTelefono" name="editTelefono">
                            </div>
                            <div class="form-group">
                                <label for="email">Correo Empresa:</label>
                                <input type="text" class="form-control" id="editEmail" name="editEmail">
                            </div>
                            <div class="row">
                                <div class="col-md-4" style="margin-top: 5px;">
                                    <button type="button" id="btnSaveChange" class="btn btn-dark btn-sm btn-block"
                                        onclick="guardarCambiosEmpresa()">Guardar
                                        Cambios
                                    </button>
                                </div>
                                <div class="col-md-4" style="margin-top: 5px;">
                                    <button type="button" id="btnSendAccess" class="btn btn-dark btn-sm btn-block">Enviar
                                        credenciales</button>
                                </div>
                                <div class="col-md-4" style="margin-top: 5px;">
                                    <button class="btn btn-sm btn-dark btn-block" id="btnEnviarManual" type="button">Enviar
                                        Manual</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Credenciales</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="credencialesEmpresa">
                                        <!-- Aqui van las parte de los credenciales -->
                                        <div class="table-responsive" style="overflow-y: auto; max-height: 200px;">
                                            <table class="table table-sm table-striped">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">#</th>
                                                      <th scope="col">Nombre Equipo</th>
                                                      <th scope="col">Tipo acceso</th>
                                                      <th scope="col">Dirección</th>
                                                      <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyCredenciales">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>
                                    <button id="newCredenciales" type="button" class="btn btn-sm btn-dark btn-block">Agregar nuevas credenciales</button>
                                    <br>
                                    <div id="createNewCredenciales" style="display: none;">
                                        <h3>Agregar nuevas credenciales</h3>
                                        <div class="form-group">
                                            <label for="modalNombreMaquina">Nombre del equipo:</label>
                                            <input type="text" class="form-control form-control-sm" id="modalNombreMaquina" name="modalNombreMaquina">
                                        </div>
                                        <div class="form-group">
                                            <label for="modalDireccionEquipo">Direccion del equipo:</label>
                                            <input type="text" class="form-control form-control-sm" id="modalDireccionEquipo" name="modalDireccionEquipo">
                                        </div>
                                        <div class="form-group">
                                            <label for="modalUsuario">Usuario:</label>
                                            <input type="text" class="form-control form-control-sm" id="modalUsuario" name="modalUsuario">
                                        </div>
                                        <div class="form-group">
                                            <label for="modalPassword">contraseña:</label>
                                            <input type="text" class="form-control form-control-sm" id="modalPassword" name="modalPassword">
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                  <label class="input-group-text" for="selectTipoAccesoModal">Tipo de acceso</label>
                                                </div>
                                                <select class="custom-select" id="selectTipoAccesoModal">
                                                  <option selected>Escoger el tipo de acceso</option>
                                                  <option value="1">Conexión a Escritorio Remoto</option>
                                                  <option value="2">AnyDesk</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-dark btn-sm btn-block" type="button" id="btnNewAccess">Crear nuevo acceso</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
<script src="../static/dist/utils/soporte.js"></script>
<script>
    let btnSendAccess = document.getElementById('btnSendAccess');
    let emailEmpresa = document.getElementById('editEmail');
    let phoneEmpresa = document.getElementById('editTelefono');
    let editNombreEmpresa = document.getElementById('editNombreEmpresa');
    let editarEmpresaForm = document.getElementById('editarEmpresaForm');
    let btnEnviarManual = document.getElementById('btnEnviarManual');
    let btnSaveChange = document.getElementById('btnSaveChange');
    const buscarSolicitanteEmpresa = document.getElementById("buscarSolicitanteEmpresa");
    const tbodyEmpresas = document.getElementById("tbodyEmpresas");
    const credencialesEmpresa = document.getElementById("credencialesEmpresa");
    const tbodyCredenciales = document.getElementById("tbodyCredenciales");
    const newCredenciales = document.getElementById("newCredenciales");
    const createNewCredenciales = document.getElementById("createNewCredenciales");
    const btnNewAccess = document.getElementById("btnNewAccess");
    let idEmpresa


    newCredenciales.addEventListener("click", function(){
        createNewCredenciales.style.display = ""
    })

    function cargarTablaTickets() {
        $.ajax({
            url: '{% url "empresascreados" %}',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // Limpiar el cuerpo de la tabla
                $('#tickets-table tbody').empty();
                // Iterar sobre los datos y agregar filas a la tabla
                $.each(data, function (index, empresa) {
                    var newRow = '<tr>' +
                        '<td>' + empresa.NumEmpresa + '</td>' +
                        '<td>' + empresa.nombreEmpresa + '</td>' +
                        '<td>' + empresa.direccion + '</td>' +
                        '<td>' + empresa.telefono + '</td>' +
                        '<td>' + empresa.email + '</td>' +
                        '<td>' +
                        '<button class="btn btn-info btn-sm" onclick="verEmpresa(' + empresa.NumEmpresa + ')">Ver</button>' +
                        '</td>' +
                        '</tr>';
                    $('#tickets-table tbody').append(newRow);
                });
            },
            error: function (error) {
                console.log('Error en la solicitud AJAX:', error);
            }
        });
    }


    function verEmpresa(numEmpresa) {
        idEmpresa = numEmpresa
        tbodyCredenciales.innerHTML = ""
        createNewCredenciales.style.display = "none"
        // Realizar la solicitud AJAX para obtener los detalles de la empresa
        $.ajax({
            url: '{% url "detalles_empresa" %}',
            method: 'GET',
            data: { numEmpresa: numEmpresa },
            dataType: 'json',
            success: function (empresa) {
                // Llenar los campos del modal con los detalles de la empresa
                $('#modalNumEmpresa').val(empresa[0].NumEmpresa);
                $('#editNombreEmpresa').val(empresa[0].nombreEmpresa);
                $('#editDireccion').val(empresa[0].direccion);
                $('#editTelefono').val(empresa[0].telefono);
                $('#editEmail').val(empresa[0].email);

                // Iteracion para la tabla
                empresa.forEach((registro) =>{
                    if(registro.idAcceso !=null){
                        var rowModal = document.createElement("tr");

                    var cellId = document.createElement("td");
                    cellId.textContent = registro.idAcceso;

                    var cellNombreEquipo = document.createElement("td");
                    cellNombreEquipo.textContent = registro.nombreEquipo;

                    var cellTipoAcceso = document.createElement("td");
                    cellTipoAcceso.textContent = registro.tipoAcceso;

                    var cellDireccion = document.createElement("td");
                    cellDireccion.textContent = registro.direccionMaquina;

                    var cellAcciones = document.createElement("td");
                    var buttonCopy = document.createElement("button");
                    buttonCopy.type = "button";
                    buttonCopy.className = "btn btn-sm btn-outline-light";
                    cellAcciones.style.textAlign = "center"
                    buttonCopy.innerHTML = `
                    <svg id="svgCopy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" with="20px" height="20px">
                        <path d="M208 0H332.1c12.7 0 24.9 5.1 33.9 14.1l67.9 67.9c9 9 14.1 21.2 14.1 33.9V336c0 26.5-21.5 48-48 48H208c-26.5 0-48-21.5-48-48V48c0-26.5 21.5-48 48-48zM48 128h80v64H64V448H256V416h64v48c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V176c0-26.5 21.5-48 48-48z"/>
                        </svg>
                        `;
                    // Funcionalidad para copiar el boton
                    buttonCopy.addEventListener("click", function(){
                        let informacion = `Nombre del equipo: ${registro.nombreEquipo}, Tipo de Acceso: ${registro.tipoAcceso},Direccion del Equipo: ${registro.direccion},Usuario: ${registro.usuario}, Contraseña: ${registro.password}`
                        
                        toastr.success(informacion, null, {
                            onclick: function() {
                                // Crear un elemento temporal para copiar el texto
                                var tempInput = document.createElement("textarea");
                                tempInput.style = "position: absolute; left: -1000px; top: -1000px";
                                tempInput.value = informacion.toString();
                                document.body.appendChild(tempInput);

                                // Seleccionar y copiar el texto
                                tempInput.select();
                                document.execCommand("copy");

                                // Eliminar el elemento temporal
                                document.body.removeChild(tempInput);

                                // Mostrar mensaje de éxito
                                toastr.success("Copiado correctamente");
                            }
                        });
                    })
                        
                    cellAcciones.appendChild(buttonCopy)
                    rowModal.appendChild(cellId)
                    rowModal.appendChild(cellNombreEquipo)
                    rowModal.appendChild(cellTipoAcceso)
                    rowModal.appendChild(cellDireccion)
                    rowModal.appendChild(cellAcciones)
                    tbodyCredenciales.appendChild(rowModal)
                    }else{
                        var rowModal = document.createElement("tr")
                        var cellMessage = document.createElement("td")
                        cellMessage.textContent = "No hay credenciales"
                        cellMessage.style.textAlign = "center"
                        cellMessage.setAttribute("colspan", "5");
                        rowModal.appendChild(cellMessage)
                        tbodyCredenciales.appendChild(rowModal)
                    }
                })
                // Mostrar el modal
                $('#detalleEmpresaModal').modal('show');

            },
            error: function (error) {
                console.log('Error al obtener detalles de la empresa:', error);
            }
        });
    }

    function guardarCambiosEmpresa() {
        var numEmpresa = $('#modalNumEmpresa').val();
        var nombreEmpresa = $('#editNombreEmpresa').val();
        var direccion = $('#editDireccion').val();
        var telefono = $('#editTelefono').val();
        var email = $('#editEmail').val();

        toastr.info('Se estan realizando cambios en la información', 'Guardando...');
        btnSaveChange.disabled = true;
        $.ajax({
            url: '{% url "actualizar_empresa" %}',
            method: 'POST',
            data: {
                numEmpresa: numEmpresa,
                nombreEmpresa: nombreEmpresa,
                direccion: direccion,
                telefono: telefono,
                email: email,
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function (response) {
                if (response.success) {
                    toastr.success('Los cambios han sido guardados correctamente', 'Cambios guardados');
                    btnSaveChange.disabled = false;
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                } else {
                    toastr.success('Los cambios han sido guardados correctamente', 'Cambios guardados');
                    btnSaveChange.disabled = false;
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                }
            },
            error: function (error) {
                mostrarMensaje('error', 'Error al actualizar la empresa: ' + error.statusText);
            }
        });
    }

    function mostrarMensaje(tipo, mensaje) {
        var alertClass = tipo === 'success' ? 'alert-success' : 'alert-danger';
        $('#mensajeAlerta').removeClass('alert-success alert-danger').addClass(alertClass);
        $('#mensajeAlerta').text(mensaje);
        $('#mensajeAlerta').show();

        // Ocultar el mensaje después de unos segundos (opcional)
        setTimeout(function () {
            $('#mensajeAlerta').hide();
        }, 5000);  // Ocultar después de 5 segundos (puedes ajustar esto según tus necesidades)
    }

    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();
            toastr.info('Guardando los cambios realizados', "Guardando...");
            var form = $(this);
            var formData = new FormData(form[0]);  // Crear un objeto FormData para manejar archivos

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,  // No establecer el tipo de contenido, permitir que jQuery lo configure automáticamente
                processData: false,  // No procesar los datos, permitir que jQuery lo configure automáticamente
                success: function (data) {
                    // Verificar si la respuesta es exitosa
                    if (data.status === 'success') {
                        toastr.success(data.message, 'Ticket creado');

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    } else {
                        // Manejar otros casos o mostrar mensajes de error
                        toastr.error('Error al crear el ticket: ' + data.message, 'Error');
                    }
                },
                error: function (xhr, status, error) {
                    // Manejar errores de la solicitud AJAX
                    toastr.error('Error en la solicitud AJAX: ' + error, 'Error');
                }
            });
        });
        // Puedes cargar la tabla cuando se carga la página por primera vez si es necesario
        cargarTablaTickets();
        // Agregar un evento de clic a la pestaña "vertickets"
        $('#vertickets-tab').on('click', function () {
            // Cargar la tabla cuando se hace clic en la pestaña
            cargarTablaTickets();
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Buscar el token CSRF en las cookies
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Funcionalidad del boton
    btnSendAccess.addEventListener('click', function () {
        btnSendAccess.disabled = true;
        const data = {
            email: emailEmpresa.value,
            telefono: phoneEmpresa.value,
            nombreEmpresa: editNombreEmpresa.value,
        }
        toastr.info('Enviando credenciales', "Enviando...");
        // Enviar los datos a la vista de Django
        fetch('enviar_credenciales/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al enviar la información de la empresa');
                }
                toastr.success(data.message, "Credenciales enviadas exitosamente.");
                btnSendAccess.disabled = false;
            })
            .catch(error => {
                console.error('Error:', error);
                toastr.error(data.message, "Error al enviar las credenciales.");
                btnSendAccess.disabled = false;
            });
    })

    // Funcionalidad del envio de Manual de Uso
    btnEnviarManual.addEventListener('click', function () {
        btnEnviarManual.disabled = true;
        var data = {
            email: emailEmpresa.value
        }
        toastr.info('Enviando manual', "Enviando...");
        fetch('send_manual/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al enviar el archivo');
                }
                toastr.success('El manual fue enviado correctamente', "Envio exitoso");
                btnEnviarManual.disabled = false;
            })
            .catch(error => {
                console.error('Error:', error);
                toastr.error('El manual no fue enviado correctamente', "Error");
                btnEnviarManual.disabled = false;
            });
    })

    // Input para buscar
    buscarSolicitanteEmpresa.addEventListener("keyup", function () {
        const textoBusqueda = buscarSolicitanteEmpresa.value.toLowerCase();

        Array.from(tbodyEmpresas.children).forEach(function (fila) {
            const textoFila = fila.textContent.toLowerCase();
            if (textoFila.includes(textoBusqueda)) {
                fila.style.display = "";
            } else {
                fila.style.display = "none";
            }
        });
    });

    btnNewAccess.addEventListener("click", function(e){
        e.preventDefault();

        var nombreMaquina = $('#modalNombreMaquina').val();
        var direccionEquipo = $('#modalDireccionEquipo').val();
        var usuario = $('#modalUsuario').val();
        var contrasena = $('#modalPassword').val();
        var tipoAcceso = $('#selectTipoAccesoModal').val();
        
        $.ajax({
            url: '{% url "create_acces_empresa" %}',
            method: 'POST',
            data: {
                'modalNombreMaquina': nombreMaquina,
                'modalDireccionEquipo': direccionEquipo,
                'modalUsuario': usuario,
                'modalPassword': contrasena,
                'selectTipoAccesoModal': tipoAcceso,
                'idEmpresa': idEmpresa
            },
            success: function(response){
                if(response.status === 'success'){
                    toastr.success("Acceso creado exitosamente", "Acceso creado")
                    setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                } else {
                    toastr.error("Error al crear el acceso, verifique el tipo de acceso", "Error en el acceso")
                }
            },
            error: function(response){
                toastr.error("Error al crear el acceso, verifique el tipo de acceso", "Error en el acceso")
            }
        });
    })

</script>
{% endblock %}