{% extends "base.html" %}

{% load static %}
{% block content %}
    <input type="hidden" id="nombreUsuario" value="{{ user.username }}">
    <input type="hidden" id="idUsuario" value="{{ user.id }}">
    <input type="hidden" id="razonSocial" value="{{ user.first_name }}">
    <div id="datos" data-mostrar-campo="{{ mostrar_campo|safe }}"></div>

    <!-- Contenido específico de la página de dashboard -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Soporte</h3>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="content">
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="nuevoticket-tab" data-toggle="tab" href="#nuevoticket">Nuevo Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vertickets-tab" data-toggle="tab" href="#vertickets">Tickets</a>
            </li>

        </ul>

        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="nuevoticket">
                <div class="card mb-3">
                    <div class="card-header bg-danger text-white">Detalles del Ticket</div>
                    <div class="card-body">
                            <div id="formularioCliente" style="display: none;">
                                <form class="form-group" method="post" action="{% url 'crear_ticket_soporte' %}">
                                    {% csrf_token %}
                                    <div class="row g-1">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="exampleFormControlTextarea1" class="form-label">Detalle su problema</label>
                                                <textarea class="form-control" name="exampleFormControlTextarea1" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-md-4">
                                            <label class="form-label">Imagen</label>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" name="inputGroupFile03" onchange="mostrarNombreArchivo(1,0)">
                                                  <label class="custom-file-label" for="inputGroupFile03">Sube una imagen del problema que presentas</label>
                                                </div>
                                              </div>                                       
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" id="rowSolicitante">
                                                <label for="solicitante">Solicitante:</label>
                                                <select class="select2" id="solicitante" style="width: 100%;" name="solicitante">
                                                    <option value="">Seleccione Solicitante</option>
                                                    {% for solicitante in resultados_solicitantes_data %}
                                                    <option value="{{ solicitante.id }}" data-empresa="{{ solicitante.nombreEmpresa }}">
                                                        {{ solicitante.nombreApellido }} - {{ solicitante.nombreEmpresa }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Prioridad del requerimiento</label>
                                            <select class="custom-select" name="prioridadSelect">
                                                <option selected>Seleccionar la prioridad</option>
                                                <option value="Alta">Alta</option>
                                                <option value="Media">Media</option>
                                                <option value="Baja">Baja</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-md-12">
                                            <button type="submit" id="btnCreateTicket" class="btn btn-success btn-block"
                                                disabled>Crear Ticket de Soporte
                                        </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="formularioAgente" style="display: none;">
                                <form class="form-group" method="post" action="{% url 'crear_ticket_soporte_agente' %}" enctype="multipart/form-data">
                                    <!-- Resto del formulario aquí -->
                                    <div class="row g-1">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="textAreaProblemaAgent" class="form-label">Detalle el problema del Cliente</label>
                                                <textarea class="form-control" name="textAreaProblemaAgent" id="textAreaProblemaAgent" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-md-4">
                                            <label class="form-label">Imagen del problema</label>
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputFileAgent" aria-describedby="inputGroupFileAddon03" name="inputFileAgent" onchange="mostrarNombreArchivo(0,1)">
                                                  <label class="custom-file-label" for="inputFileAgent">Sube una imagen del problema que presentas</label>
                                                </div>
                                              </div>                                       
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="solicitanteAgent">Solicitante:</label>
                                                <select class="select2" id="solicitanteAgent" style="width: 100%;" name="solicitanteAgent">
                                                    <option value="">Seleccione Solicitante</option>
                                                    {% for solicitante in all_solicitantes %}
                                                    <option value="{{ solicitante.id }}" data-empresa="{{ solicitante.nombreEmpresa }}">
                                                        {{ solicitante.nombreApellido }} - {{ solicitante.nombreEmpresa }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Prioridad del requerimiento</label>
                                            <select class="custom-select" id="prioridadSelectAgent" name="prioridadSelectAgent">
                                                <option selected>Seleccionar la prioridad</option>
                                                <option value="Alta">Alta</option>
                                                <option value="Media">Media</option>
                                                <option value="Baja">Baja</option>
                                              </select>
                                        </div>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-md-12">
                                            <button type="submit" id="btnCreateTicketAgent" class="btn btn-success btn-block"
                                                disabled>Crear Ticket de Soporte
                                        </button>
                                        </div>
                                    </div>
                                </form>                                
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="vertickets">
                <div class="card mb-3">
                    <div class="card-header bg-danger text-white">Detalles del Ticket</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th>NumTicket</th>
                                    <th>Empresa</th>
                                    <th>Motivo</th>
                                    <th>Solicitante</th>
                                    <th>Prioridad</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody id="tbodyTicketTable">
                                <!-- Aquí se llenarán las filas de la tabla -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL EDITAR TICKET -->
    <div class="modal fade" id="modalInfoTicket" tabindex="-1" aria-labelledby="modalInfoTicketLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalInfoTicketLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="row g-1">
                        <div class="col-md-12">
                            <label for="textAreaComentarioEdit" class="form-label">Comentario</label>
                            <textarea class="form-control" id="textAreaComentarioEdit" rows="3" disabled></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row g-1">
                        <div class="col-md-6">
                            <label>Agente encargado</label>
                                <select class="select2" id="selectEditAgenteSolicitado" style="width: 100%;"
                                    name="selectEditAgenteSolicitado" disabled>
                                    <option value="">Seleccione Agente</option>
                                    {% for agente in resultados_agentes_data %}
                                    <option value="{{ agente.id }}">
                                        {{ agente.full_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                        </div>
                        <div class="col-md-6">
                            <label for="solicitante">Solicitante:</label>
                            <select class="select2" id="selectSolicitante" style="width: 100%;" name="selectSolicitante" disabled>
                                <option value="">Seleccione Solicitante</option>
                                {% for solicitante in all_solicitantes %}
                                <option value="{{ solicitante.id }}" data-empresa="{{ solicitante.nombreEmpresa }}">
                                    {{ solicitante.nombreApellido }} - {{ solicitante.nombreEmpresa }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row g-1">
                        <div class="col-md-4">
                            <label for="datetimeInput">Fecha Creación:</label>
                            <input type="datetime-local" id="fechaCreacionEdit" name="fechaCreacionEdit" class="form-control" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="datetimeInput">Fecha Finalización estimada:</label>
                            <input type="datetime-local" id="fechaFinalizacionEdit" name="fechaFinalizacionEdit" class="form-control" disabled>
                        </div>
                        <div class="col-md-4">
                            <label for="datetimeInput">Fecha Finalización:</label>
                            <input type="datetime-local" id="fechaFinalizacionRealEdit" name="fechaFinalizacionRealEdit" class="form-control" disabled>
                        </div>
                    </div>
                    <br>
                    <div class="row g-1">
                        <div class="col-md-6">
                            <label for="textAreaCausaError" class="form-label">El requerimiento necesita facturacion ?</label>
                            <select class="custom-select" id="selectFacturacion" disabled>
                                <option selected>El requerimiento se factura ?</option>
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            </select>
                            <br>
                            <label for="textAreaCausaError" class="form-label">Causa del error:</label>
                            <textarea class="form-control" id="textAreaCausaError" rows="5" disabled></textarea>
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" id="imageError">
                        </div>
                    </div>
                    <hr>
                    <div class="row g-1">
                        <div class="col-md-12">
                            <button type="button" id="btnNewTask" class="btn btn-success btn-block"
                                                disabled>Agregar nueva tarea +
                                        </button>
                        </div>
                    </div>
                    <div class="table-responsive" style="display: none;" id="rowTableTaskEdit">
                        <table class="table table-hover table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Agente</th>
                                <th scope="col">Fecha finalización</th>
                                <th scope="col">Imagen del requerimiento solucionado</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody id="tbodyListTask">
                              
                            </tbody>
                          </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" id="btnGenerarReporte" style="display: none;">Generar Reporte</button>
                <button class="btn btn-success btn-sm" id="btnFinisTasks" style="display: none;">Finalizar Tareas</button>
                <button class="btn btn-warning btn-sm" id="btnTerminarTareas" style="display: none;">Enviar Tareas</button>
                <button class="btn btn-info btn-sm" id="btnAsignarAgente" style="display: none;">Asignar Agente</button>
                <button class="btn btn-info btn-sm" id="btnFinishTicket">Cerrar el ticket</button>
                <button class="btn btn-dark btn-sm" id="btnNotificar">Notificar al administrador</button>
                <button class="btn btn-dark btn-sm" id="btnNotificarSolicitante" style="display: none;">Notificar la solicitante</button>
                <button class="btn btn-warning btn-sm" id="btnEditarDatos" style="display: none;">Editar datos</button>
            </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        // Incorporar datos directamente en el script
        window.resultados_agentes_data = [
            {% for agente in resultados_agentes_data %}
                {
                    id: "{{ agente.id }}",
                    full_name: "{{ agente.full_name }}"
                },
            {% endfor %}
        ];

        window.resultados_solicitantes_data = [
            {% for agente in resultados_solicitantes_data %}
                {
                    id: "{{ agente.id }}",
                    full_name: "{{ agente.full_name }}"
                },
            {% endfor %}
        ];

    </script>
    <script src="../static/dist/utils/soporte.js"></script>


{% endblock %}