{% extends "base.html" %}

{% load static %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
    <!-- Contenido específico de la página de dashboard -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3>Soporte</h3>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="content">


        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" id="nuevoticket-tab" data-toggle="tab" href="#nuevoticket">Nuevo Ticker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vertickets-tab" data-toggle="tab" href="#vertickets">Tickets</a>
            </li>

        </ul>
        <div class="tab-content mt-2">
            <!-- Contenido de la pestaña Nuevo Ticket -->
            <div class="tab-pane fade show active" id="nuevoticket">
                <div class="card mb-3">
                    <div class="card-header bg-danger text-white">Detalles del Ticket</div>
                    <div class="card-body">
                        <form class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label>Fecha creación:</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_ticket_creacion" name="fecha_creacion"
                                               class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label>Fecha asignación:</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_ticket_asignacion" name="fecha_asignacion"
                                               class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label>Fecha Estimada Fin:</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_ticket_estimado" name="fecha_estimado"
                                               class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label>Fecha Finalización:</label>
                                    <div class="input-group">
                                        <input type="text" id="fecha_ticket_finalizacion" name="fecha_finalizacion"
                                               class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="solicitante">Solicitante:</label>
                                <select class="select2" id="solicitante" style="width: 100%;" name="solicitante">
                                    <option value="">Seleccione Solicitante</option>
                                    {% for solicitante in resultados_solicitantes_data %}
                                        <option value="{{ solicitante.id }}"
                                                data-empresa="{{ solicitante.nombreEmpresa }}">
                                            {{ solicitante.nombreApellido }} - {{ solicitante.nombreEmpresa }}
                                        </option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group col-md-6">
                                <label for="agentesolicitado">Agente Asignado</label>
                                <select class="select2" id="agentesolicitado" style="width: 100%;"
                                        name="agentesolicitado">
                                    <option value="">Seleccione Agente</option>
                                    <!-- Opciones para el select de agente solicitado -->
                                    {% for agente in resultados_agentes_data %}
                                        <option value="{{ agente.id }}">
                                            {{ agente.full_name }}
                                        </option>
                                    {% endfor %}
                                    <!-- Agrega más opciones según sea necesario -->
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="motivo">Motivo de Soporte:</label>
                                <textarea class="form-control" id="motivo" name="motivo"
                                          placeholder="Ingrese el motivo"></textarea>
                            </div>


                            <div class="form-group col-md-6">
                                <label for="motivo">Observaciones</label>
                                <textarea class="form-control" id="observaciones" name="observaciones"
                                          placeholder="Ingrese Oberservaciones"></textarea>
                            </div>


                            <div class="form-group col-md-4">
                                <label for="prioridad">Prioridad:</label>
                                <select class="select2" id="prioridad" style="width: 100%;" name="prioridad">
                                    <!-- Opciones para el select de prioridad -->
                                    <option value="alta">Alta</option>
                                    <option value="media">Media</option>
                                    <option value="baja">Baja</option>
                                </select>
                            </div>


                            <div class="form-group col-md-4">
                                <label for="factura">¿Se debe emitir factura?</label>
                                <select class="select2" id="factura" style="width: 100%;" name="factura">
                                    <option value="si">Sí</option>
                                    <option value="no">No</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="Estado">Estado:</label>
                                <select class="select2" id="estado" style="width: 100%;" name="estado">
                                    <!-- Opciones para el select de prioridad -->
                                    <option value="alta">Abierto</option>
                                    <option value="alta">En progreso</option>
                                    <option value="media">En espera</option>
                                    <option value="baja">Finalizado</option>
                                </select>
                            </div>


                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-dark">Crear Ticket</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="vertickets">
                <h2>Contenido de la pestaña 2</h2>
            </div>

        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script src="../static/dist/utils/soporte.js"></script>

{% endblock %}








